@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@section styles {
    <link rel="stylesheet" href="~/css/genre.css" />
}
@{
    ViewData["Title"] = "Add Genre";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="bd-viewBR px-3"
           asp-action="List" asp-controller="Genre">
            <span class="bd-viewBRText">&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="AddGenre">
        <div class="addlbl">
            <h2 class="addlabel">ADD A GENRE.</h2>
        </div>
        <div class="form-group">
            <label>Genre Name</label>
            <input class="form-control shadow-none bg-transparent text-white border-white" asp-for="GenreName" maxlength="49" />
            <span asp-validation-for="GenreName" class="text-danger"></span>
        </div>
        <div class="row mt-2 g-2" style="width:30.5%;">
            <div class="col">
                <a class="bd-viewBR w-100" asp-action="List" asp-controller="Genre">
                    <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                    <span></span>
                </a>
            </div>
            <div class="col">
                <button type="submit" class="bd-viewBR w-100">
                    <span class="bd-viewBRText ff-inter fw-bold">Save</span>
                    <span></span>
                </button>
            </div>
        </div>
    </form>
</div>