@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@section styles {
    <link rel="stylesheet" href="~/css/genre.css" />
}
@{
    ViewData["Title"] = "Add Genre";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="animated-button"
           asp-action="List" asp-controller="Genre">
            <span>&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="AddGenre">
        <div class="addlbl">
            <h2 class="addlabel">ADD A GENRE.</h2>
        </div>
        <div class="form-group">
            <label>Genre Name</label>
            <input class="form-control" asp-for="GenreName" />
            <span asp-validation-for="GenreName" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <button type="" class="btn btn-primary cancel">Cancel</button>
            <button type="submit" class="btn btn-primary save">Save</button>
        </div>
    </form>
</div>