@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/genre.css" />
}
@{
    ViewData["Title"] = "Change Password";
}

<div class="mt-5 pt-4 mb-3">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <a class="bd-viewBR px-3" asp-action="AccountSetting" asp-controller="Admin">
                    <span class="bd-viewBRText">&lt;&nbsp;Back </span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="updatelbl">
        <h2 class="updatelabel ">Account settings.</h2>
        <p class="fw-bold">CHANGE EMAIL</p>
    </div>

    <form asp-action="ChangePassword" method="post">
        <input type="hidden" asp-for="AdminId" />
        <label>Old Password</label>
        <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="oldPassword" />
        <span asp-validation-for="oldPassword" class="text-danger"></span>

        <div class="form-group mt-3">
            <label>New Password</label>
            <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="row mt-2 g-2" style="width:30.5%;">
            <div class="col">
                <a class="bd-viewBR w-100" asp-action="AccountSetting" asp-controller="Admin">
                    <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                    <span></span>
                </a>
            </div>
            <div class="col">
                <button type="submit" class="bd-viewBR w-100">
                    <span class="bd-viewBRText ff-inter fw-bold">Save</span>
                    <span></span>
                </button>
            </div>
        </div>
    </form>
</div>