@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Change Password";
}

<a class="bd-viewBR px-3"
   asp-action="Index" asp-controller="Dashboard">
    <span class="bd-viewBRText">&lt;&nbsp;Back </span>
    <span></span>
</a>

<form asp-action="ChangePassword" method="post">
    <input type="hidden" asp-for="AdminId" />
    <label>Old Password</label>
    <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="oldPassword" />
    <span asp-validation-for="oldPassword" class="text-danger"></span>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control  shadow-none bg-transparent text-white border-white mt-1" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="col">
        <button type="submit" class="bd-viewBR w-100">
            <span class="bd-viewBRText ff-inter fw-bold">Save</span>
            <span></span>
        </button>
    </div>
</form>