@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Edit Admin";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <!--<h2 class="fw-bolder dark-blue">Newest</h2>-->
        <a class="animated-button"
           asp-action="List" asp-controller="Admin">
            <span>&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="EditAdmin">
        <div class="row">
            <div class="col-6">
                <div class="updatelabel mt-5">
                    <h2>UPDATE ADMIN ACCOUNT.</h2>
                </div>
            </div>
            <div class="col-6 updateform">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="text" class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mt-4">
                    <a class="btn btn-primary cancel" asp-action="List" asp-controller="Admin">Cancel</a>
                    <button type="submit" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>