@model ASI.Basecode.Services.ServiceModels.AdminViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admin.css" />
}
@{
    ViewData["Title"] = "Edit Admin";
}
<div class="mt-5 pt-5 mb-3">
    <div class="d-flex justify-content-between">
        <a class="bd-viewBR px-3" 
           asp-action="List" asp-controller="Admin">
            <span class="bd-viewBRText">&lt;&nbsp;Back </span>
            <span></span>
        </a>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="EditAdmin">
        <div class="row">
            <div class="col-6">
                <div class="updatelabel mt-5">
                    <h2>UPDATE ADMIN ACCOUNT.</h2>
                </div>
            </div>
            <div class="col-6 updateform">
                <input type="hidden" class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="AdminId" />
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="text" class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="row mt-2 g-2" style="width:86.5%;">
                    <div class="col">
                        <a class="bd-viewBR w-100" asp-action="List" asp-controller="Admin">
                            <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                            <span></span>
                        </a>
                    </div>
                    <div class="col">
                        <button type="submit" class="bd-viewBR w-100">
                            <span class="bd-viewBRText ff-inter fw-bold">Save</span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>