@model ASI.Basecode.Services.ServiceModels.AdminViewModel

<a asp-action="List" asp-controller="Book">Go Back</a>

<h2>View Admin</h2>

<h3>Admin ID:</h3>
<h4>@Model.AdminId</h4>
<h3>Email: </h3>
<h4>@Model.Email</h4>
<h3>Name: </h3>
<h4>@Model.Name</h4>
