@model ASI.Basecode.Services.ServiceModels.BookViewModel
@section styles {
    <link rel="stylesheet" href="~/css/books.css" />
}

@{
    ViewData["Title"] = "Edit Book";
}

<div class="mt-5 pt-4 mb-3">
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="d-flex justify-content-between">
                <a class="bd-viewBR px-3" asp-action="List" asp-controller="Book">
                    <span class="bd-viewBRText">&lt;&nbsp;Back </span>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="updatelabel">Update Book.</div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="EditBook">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="card mb-4 shadow-sm bg-transparent">
                    <div class="card-body text-white">
                        <div class="bd-img-cont">
                            <img class="img-fluid h-100 w-100" id="imagePreview" src="@Model.BookImage" alt="Image" onerror="this.onerror=null;this.src='/img/image.png';">
                        </div>
                        <div class="form-group text-white mt-4">
                            <label for="imageFileInput" class="bd-viewBR"><span class="bd-viewBRText"><i class=" bi bi-upload mx-2"></i>Update Book Cover</span><span></span></label>
                            <input id="imageFileInput" asp-for="ImageFile" type="file" accept="image/*" class="form-control-file" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="card w-100 bg-transparent">
                    <div class="card-body text-white">
                        <input type="hidden" class="form-control" asp-for="BookId" readonly />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mt-1">
                                    <label>Book Title</label>
                                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Title" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-1">
                                    <label>Book Description</label>
                                    <textarea class="form-control shadow-none bg-transparent text-white border-white mt-1" rows="15" asp-for="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mt-1">
                                    <label>Book Isbn</label>
                                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Isbn" />
                                    <span asp-validation-for="Isbn" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-1">
                                    <label>Book Author</label>
                                    <input class="form-control shadow-none bg-transparent text-white border-white mt-1" asp-for="Author" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-1">
                                    <label>Book Genres</label>
                                    <div class="genre-container">
                                        <div class="genre-scroll">
                                            @foreach (var genre in (List<ASI.Basecode.Services.ServiceModels.GenreViewModel>)ViewData["Genre"])
                                            {
                                                var isChecked = Model.Genre != null &&
                                                Model.Genre.Split(',').Select(s => s.Trim()).Contains(genre.GenreName);

                                                <div class="form-check ms-1">
                                                    <input class="form-check-input shadow-none text-white border-white" type="checkbox" name="SelectedGenres" value="@genre.GenreName" @(isChecked ? "checked" : "") />
                                                    <label class="form-check-label">@genre.GenreName</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="Genre" id="selectedGenresInput" />
                                    <span asp-validation-for="Genre" class="text-danger"></span>
                                </div>
                                <div class="row mt-2 g-2">
                                    <div class="col">
                                        <a class="bd-viewBR w-100" asp-action="List" asp-controller="Book">
                                            <span class="bd-viewBRText ff-inter fw-bold">Cancel</span>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="bd-viewBR w-100">
                                            <span class="bd-viewBRText ff-inter fw-bold">Save</span>
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Preview image when selected in the file input
            $('#imageFileInput').change(function () {
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imagePreview').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            });

            // Handling checkbox change remains unchanged
            $('input[type=checkbox]').change(function () {
                var selectedGenres = $('input[name="SelectedGenres"]:checked')
                    .map(function () {
                        return this.value;
                    })
                    .get();

                $('#selectedGenresInput').val(selectedGenres.join(', '));
            });
        });
    </script>
}

