body {
}


/* ViewBookAndReview admin */
.bd-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*margin-bottom: 23px;*/
}

.bd-img-cont {
    height: 24.8rem;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    background: linear-gradient(180deg, rgba(179, 11, 111, 0.20) 0%, rgba(3, 3, 3, 0.20) 100%);
}

.bd-text {
    font-family: Bebas Neue;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bd-ratings-badge {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    width: 68px;
    height: 28px;
    border-radius: 8.42593px;
    background-color: #F0BE4D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.bd-bookid {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.309px; /* 147.119% */
}
.viewbook-button {
    width: 263px;
    height: 54px;
    flex-shrink: 0;
}
.book-genre-container {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-genre {
    display: inline;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 1px 2.5px;
    padding: 0 5px;
    border-radius: 3px;
    background: linear-gradient(94deg, #2103FE, #C40D60);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}


.b-viewBR {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 8px 24px;
    border: 2px solid #C40D60;
    border-bottom-color: rgb(72,5,224);
    border-top-color: rgba(196,13,96,1);
    border-left-color: rgb(72,5,224);
    border-right-color: rgba(196,13,96,1);
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-bottom: 3rem;
    text-decoration: none;
    background: none;

}

.b-viewBRText {
    background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-viewBR span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background: linear-gradient(94deg, #2103FE, #C40D60);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    width: 115%;
    height: 200%;
    z-index: -1;
    color: #ffff;
    border-radius: 50%;
}

.b-viewBR span:first-child {
    position: relative;
    z-index: 1;
}

.b-viewBR:hover .b-viewBRText {
    text-decoration: none;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-viewBR:active {
    scale: 1;
}

.b-viewBR:hover span:last-child {
    /*	width: 100%;
		height: 100%;*/
    opacity: 1;
    align-self: center;
}

/*table*/
.table-container {
    height: 600px;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
}

    .table th, .table td {
        padding: 8px;
        font-size: 15px;
        text-align: center;
        background-color: transparent;
        border: none;
        /*     border-bottom: 1px solid rgba(80, 74, 121, 0.50);*/
        border-top: 1px solid rgba(80, 74, 121, 0.50);
        text-align: center;
        vertical-align: middle;
    }
    .table td {
        text-align: center;
        vertical-align: middle; 
        color: #C9C9C9 !important;
    }

        .table th:last-child, .table td:last-child {
            border-right: none;
        }
    .table tbody tr:last-child td {
        border-bottom: 1px solid rgba(80, 74, 121, 0.50);
    }

.custom-thead th {
    background-color: transparent;
    color: white;
    border-top: 1px solid rgba(80, 74, 121, 0.50);
    border-bottom: none;
}

/* Styles for the tbody to ensure cells have transparent background */
.table tbody tr td {
    background-color: transparent; /* Ensures that each cell of the table body is transparent */
    color: white;
}


.button {
    min-width: 260px;
    background-color: transparent;
}

.button button {
    background-color: transparent;
    position: relative;
    border: 2px solid transparent;
    padding: 5px;
    background: linear-gradient(238deg, rgba(57,7,22,0.9893207282913166) 1%, rgba(43,7,18,1) 8%, rgba(33,5,14,0.9921218487394958) 13%, rgba(33,6,14,1) 19%, rgba(18,2,7,1) 51%, rgba(10,1,4,1) 65%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.button button::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background: linear-gradient(144deg, #2A03F4 -0.94%, #BC0C66 92.12%);
    border-radius: 4px;
    pointer-events: none;
}

.button form {
    background-color: transparent;
}

.icon-gradient {
    display: inline-block;
    background: linear-gradient(144deg, #2A03F4 -0.94%, #BC0C66 92.12%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.bd-scroll {
    padding-right: 15px;
}
    .bd-scroll::-webkit-scrollbar {
        width: 10px;
    }

    .bd-scroll::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.5);
    }

    .bd-scroll::-webkit-scrollbar-thumb {
        background: linear-gradient(94deg, #2103FE, #C40D60);
    }



.cancel {
    background-color: transparent;
    border: 1px solid transparent;
    color: transparent;
    background-image: linear-gradient(91deg, #2103FE 2.07%, #C40D60 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 16px;
    border-image: linear-gradient(91deg, #2603F8, #7B08A6, #B40C6E);
    border-image-slice: 1;
    border-width: 1px;
    width: 14%;
}

    .cancel:hover {
        background-image: linear-gradient(91deg, #2103FE 2.07%, #C40D60 100%);
        -webkit-background-clip: text;
        background-clip: text;
    }


.save {
    border-radius: 8.426px;
    background: linear-gradient(91deg, #2103FE 2.07%, #C40D60 100%);
    border: none;
    color: white;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out;
    width: 14%;
}

    .save:hover {
        background: linear-gradient(91deg, #1e02fc 2.07%, #ba0b56 100%);
    }

.cancel, .save {
    margin-right: 20px;
}

.updatelabel {
    background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Bebas Neue, sans-serif; 
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline; 
}


/*.genre-container {
    height: 152px;*/ 
    /*overflow-y: auto;*/ 

/*}*/
/* Container for the genres */
.genre-container {
    overflow: visible;
    border: 1px solid #ccc;
    padding: 7px;
    margin-top: 5px;
    scrollbar-color: #FF0000 #0000ff;
}

.genre-scroll {
    overflow-y: auto;
    scrollbar-color: #FF0000 #0000ff;
}

.genre-container {
    max-height: 15.2rem;
    overflow-y: auto; /* Use auto to display scrollbar when needed */
}

    .genre-container::-webkit-scrollbar-thumb {
        background-color: #ff0000; /* Change thumb color */
        border-radius: 6px; /* Round the edges of the thumb */
    }
    .genre-container::-webkit-scrollbar-track {
        background-color: #0000ff; /* Change track color */
    }

.td-btn {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* Hide default input appearance */
input[type="file"] {
    display: none;
    cursor: pointer;
    background-color: #f44336;
    color:green;
}

/* Style for the custom file input button */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f44336; 
    color: white;
    border-radius: 5px;
}
