body {
    background-image: url(../img/login-bg.png);
    background-size: 96rem 45rem;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/*see more*/
.see-more {
    position: relative;
    font-family: Inter;
    font-size: 15px;
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

    .see-more:hover {
        font-family: Inter;
        font-weight: 400 !important;
        background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }


    .see-more::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1.5px;
        background-image: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.3s ease;
    }

    .see-more:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }
/*table*/
.table-container {
    position: relative;
    overflow: auto;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    color: #004a52;
}


.table-striped .name:nth-child(even),
.table-striped .name:nth-child(odd) {
    background-color: #00E5CC;
}

.button a i {
    color: #00E5CC;
}

    .button a i:hover {
        color: #060640;
    }

.button {
    text-align: center;
}

.custom-thead {
    background-color: black;
    color: white;
    text-align: center;
}

    .custom-thead th {
        background-color: #00E5CC;
        color: white;
    }





.add {
    font-size: 15px;
    margin-top: 10px;
    background-color: #65a5a5;
    color: white;
    display: inline-block;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
}

.addbtn {
    text-align: right;
    margin-bottom: 10px;
}

.logout {
    font-size: 15px;
    margin-top: 10px;
    background-color: pink;
    color: white;
    display: inline-block;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
}

.home-content {
    padding: 20px;
}

.navbar-nav li.nav-item {
    margin-right: 50px; /* Adjust the value as needed */
}

.navbar-nav .nav-link {
    color: #00E5CC;
}

    .navbar-nav .nav-link:hover {
        color: white;
    }

.flex-container {
    display: flex;
}

.image-container {
    margin-right: 10px; /* Adjust the spacing between image and text */
}

    .image-container img {
        border-radius: 100px;
    }

.text-container {
    flex: 1; /* This makes the text container take up the remaining space */
    text-align: left;
}


.custom-thead th {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center;
}


.name td {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center;
}


/* newly added css*/
div.container {
    height: 100vh;
    width: 120vw;
    display: flex;
    margin: 0;
    margin-right: 2px;
    align-items: center;
    justify-content: center;
}

.b-login {
    background: linear-gradient(91deg, #2103FE 0%, #C40D60 100%) !important;
    border-radius: 8.43px;
    transition: background 0.3s;
    height: 40px;
}





.custom-left-col {
    border-top-width: 1px;
    border-style: solid;
}

.custom-right-col {
    padding: 0;
}

reviewapp-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.page-name {
    font-family: Bebas Neue;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-tagline {
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
}

.re-page-tagline {
    font-size: inherit; /* Inherits font size from tagline */
    background: linear-gradient(94deg, #2203FF 33.29%, #C40D60 67.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
}

.login-text {
    color: #CECECE;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.custom-conts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: red;
    height: 12rem;
    padding: 20px;
}

.custom-input-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 646px;
}

.custom-input-label {
    color: #CECECE;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5rem;
}

.custom-input-cred {
    background: none;
    width: 413px;
    height: 51px;
    border-radius: 8.426px;
    border: 1.204px solid #FAFAFA;
}
